h1 {
	text-align: center;
}

#controller {
	margin: 0 auto;
}

button {
	width: 70px;
	height: 30px;
}

#left {
	margin-right: 70px;
}

#up {
	margin-bottom: 10px;
}
#up2 {
	margin-bottom: 20px;
}

#down {
	margin-top: 10px;
}
#down2 {
	margin-top: 20px;
}